/*
font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

:root {
  font-size: 62.5%;
}

.hide {
  display: none
}

body {
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  background-repeat: no-repeat;

  margin-top: -5rem;

  height: 100vh;

  display: grid;
  justify-items: center;
  align-items: center;
}

/* Screen 1 */

.body, .corpse {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  border-radius: .5rem;
  background: #FFF;
  box-shadow: 0px 2rem 5rem 0px rgba(0, 0, 0, 0.80);
}

h1 {
  color: #34355B;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  color: #34355B;
  text-align: center;
  font-family: 'DM Sans';
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4.6rem;
}


.imgclose:hover {
  cursor: pointer;
  animation: shake 0.2s infinite;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* screen2 */



ul {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background: #E4EDF1;
  box-shadow: .2rem .2rem .2rem 0px rgba(85, 85, 85, 0.50);


  list-style-type: none;

  max-width: 29.3rem;
  margin: auto;

  animation: scale-in-bottom 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-bottom {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

ul li {
  color: #000;
  text-align: center;
  font-family: Dancing Script;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

#btnReset {
  display: flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem; 

  border-radius: .4rem;
  border: 0;
  background: #FF9500;

  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  cursor: pointer;
}

.imgopen {
  margin: 2rem 0px 6rem;
}

#btnReset:hover {
  background: #cd7700;
}




